@import url(https://db.onlinewebfonts.com/c/c935c03285f3914c2b5a608a55bd2763?family=Maplestory+Bold);

*{
    padding: 0;
    margin: 0;
}

body{
    /* height: 100vh; */
    margin: 0;
}

.title{
    width: 100%;
    padding-top: 10px;
    text-align: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.442) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.453) 100%);
}

h1{
    font-family: MapleStory Bold;
    font-size: 54px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black;
    width: 100%;
    position: absolute;
}

h1:hover{
    color: rgb(255, 229, 229);
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
}

h2{
    font-family: MapleStory Bold;
    font-size: 36px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black;
    margin-bottom: 14px;  
}

.maplestorylogo{
    margin-left: 360px;
    width: 50px;
}

.background-div{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.bg-video{
    position: fixed;
    min-width: 100%;
    min-width: 100%;
}

.background-mask{
    height: 100%;
    width: 100%;
    position: fixed;
    background: linear-gradient(107deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.3533788515406162) 49%, rgba(0,0,0,1) 100%);
}


#imagecontainer{
    display: none;
    left: 0;
    height: auto;
    width: auto;
    top: 100%;
}

h3{
    font-size: 30px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-family: MapleStory Bold;
    margin-bottom: 7px;

}

.divexplorer{
    position: fixed;
    text-align: center;
    font-family: MapleStory Bold;
    text-shadow: 1px 1x 2px black;
    width: 17%;
    height: 30px;
    left: 2.5vw;
    top: 70vh;
}

#explorer:hover{
    overflow-y: scroll;
}

#explorer{                                  /*  Mexe na box  */
    position: fixed;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    color: white;
    font-family: MapleStory Bold;
    text-shadow: 1px 1x 2px black;
    width: 17%;
    height: 20%;
    border-radius: 5%;
    background: linear-gradient(107deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.3533788515406162) 49%, rgba(0,0,0,1) 100%);
}

#explorer li{
    font-size: 20px;
    margin: 5px 0;
}

#explorer li:hover{
    background-color: #ddd;
    color: #333;
    transition: background-color 0.3s ease;
}

.divcygnusknights{
    position: fixed;
    text-align: center;
    font-family: MapleStory Bold;
    text-shadow: 1px 1x 2px black;
    width: 17%;
    height: 30px;
    left: 22vw;
    top: 70vh;
}

#cygnusknights:hover{
    overflow-y: scroll;
}

#cygnusknights{                            /*  Mexe na box  */
    position: fixed;
    cursor: pointer;
    overflow: hidden;
    text-align: center; 
    color: white;
    font-family: MapleStory Bold;
    text-shadow: 1px 1x 2px black;
    width: 17%; 
    height: 20%; 
    border-radius: 5%;
    background: linear-gradient(107deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.3533788515406162) 49%, rgba(0,0,0,1) 100%);
}

#cygnusknights li{
    font-size: 20px;
    margin: 5px 0;
}

#cygnusknights li:hover{
    background-color: #ddd;
    color: #333;
    transition: background-color 0.3s ease;
}

.divheroes{
    position: fixed;
    text-align: center;
    font-family: MapleStory Bold;
    text-shadow: 1px 1x 2px black;
    width: 17%;
    height: 30px;
    left: 41.5vw;
    top: 70vh;
}

#Heroes:hover{
    overflow-y: scroll;
}

#heroes{                                    /*  Mexe na box  */
    position: fixed;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    color: white;
    font-family: MapleStory Bold;
    text-shadow: 1px 1x 2px black;
    width: 17%;
    height: 20%;
    border-radius: 5%;
    background: linear-gradient(107deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.3533788515406162) 49%, rgba(0,0,0,1) 100%);
}

#heroes li{
    font-size: 20px;
    margin: 5px 0;
}

#heroes li:hover{
    background-color: #ddd;
    color: #333;
    transition: background-color 0.3s ease;
}

.divresistance{
    position: fixed;
    text-align: center;
    font-family: MapleStory Bold;
    text-shadow: 1px 1x 2px black;
    width: 17%;
    height: 30px;
    left: 61vw;
    top: 70vh;
}

#resistance:hover{
    overflow-y: scroll;
}

#resistance{                               /*  Mexe na box  */
    position: fixed;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    color: white;
    font-family: MapleStory Bold;
    text-shadow: 1px 1x 2px black;
    width: 17%;
    height: 20%;
    border-radius: 5%;
    background: linear-gradient(107deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.3533788515406162) 49%, rgba(0,0,0,1) 100%);
}

#resistance li{
    font-size: 20px;
    margin: 5px 0;
}

#resistance li:hover{
    background-color: #ddd;
    color: #333;
    transition: background-color 0.3s ease;
}
.divothers{
    position: fixed;
    text-align: center;
    font-family: MapleStory Bold;
    text-shadow: 1px 1x 2px black;
    width: 17%;
    height: 30px;
    left: 80.5vw;
    top: 70vh;
}

#others:hover{
    overflow-y: scroll;
}

#others{
    position: fixed;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    color: white;
    font-family: MapleStory Bold;
    text-shadow: 1px 1x 2px black;
    width: 17%;
    height: 20%;
    border-radius: 5%;
    background: linear-gradient(107deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.3533788515406162) 49%, rgba(0,0,0,1) 100%);
}

#others li{
    font-size: 20px;
    margin: 5px 0;
}

#others li:hover{
    background-color: #ddd;
    color: #333;
    transition: background-color 0.3s ease;
}

/* #modalcaption {
    background-color: rgba(0, 0, 0, 0.516);
    font-family: MapleStory Bold;
    text-shadow: 1px 1px 2px rgb(91, 91, 91);
    text-align: center;
    color: #fff;
    font-size: 56px;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-bottom: 10px;
} */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
    z-index: 2;
}

.modal-content-container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    min-height: 70%;
    min-width: 70%;
    max-width: 80%;
    position: relative;
}

.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    height: auto;
    max-width: 80vw;
    max-height: 80vh;
    object-fit: contain;
}

.arrow-container {
    justify-content: space-between;
    display: flex;
    position: absolute;
    width: 100%;
    top: 50%;
    transform:translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    position: sticky;
    color: white;
}

.prev {
    left: 1vh;
}

.next {
    right: 1vh;
}

.prev:hover, .next:hover{
    cursor: pointer;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    font-size: 70px;
    font-family: MapleStory Bold;
    color: #e0e0e0;
    cursor: pointer;
}

.close:hover{
    color: white;
}

#BotaoAnterior, #BotaoProximo {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    font-size: 200px;
    background-color: #00000032;
    color: #9a9a9a;
    border: none;
    padding: 10px;
    cursor: pointer;
    outline: none;
}

footer{
    font-family: MapleStory Bold;
    font-size: 16px;
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.div-countdown{ 
    background: linear-gradient(180deg, rgba(0,0,0,0.2805497198879552) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.2777485994397759) 100%);
    text-align: center;
    margin-top: 10%;
    font-size: 150px;
    margin-left: 0%;
    width: 100%;
    font-family: MapleStory Bold;
    color: white;
}


#countdown:hover{
    color: rgb(255, 225, 225);
    text-shadow: 1px 1px 2px rgb(255, 255, 255);

}


.iconsyt{
    width: 22%;
    top: 7vh;
    left: 78%;
    display: block;
    position:absolute;
    font-size: 40px;
    height: 2vh;
}

.link-twitch{
    color: rgb(252, 252, 252);
    font-size: 25px;
    display: inline;
    text-decoration: none;
  }

.link-youtube{
    color: rgb(252, 252, 252);
    font-size: 25px;
    text-decoration: none;
}

.link-discord{
    color: rgb(252, 252, 252);
    font-size: 25px;
    text-decoration: none;
}
.Supportx{
    font-family: MapleStory Bold;
    color: rgb(252, 252, 252);
    font-size: 15px;
}




